body{
  background-image: url("https://i.pinimg.com/736x/01/11/0b/01110bfd93894af2d8848fca27b9bb14.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 400px) {
  .search-bar{
    width: 300px;
  }
  .new-city-input{
    width: 150px;
  }
  .city-info-details{
    width: 300px;
  }
  .weather-container{
    width: 400px;
  }
  .days{
    width: 70px;
  }
}
@media (min-width: 401px) and (max-width: 700px) {
  .search-bar{
    width: 450px;
  }
  .new-city-input{
    width: 200px;
  }
  .city-info-details{
    width: 400px;
  }
  .weather-container{
    width: 500px;
  }
  .days{
    width: 90px;
  }
}
@media (min-width: 701px) and (max-width: 1000px) {
  .search-bar{
    width: 700px;
  }
  .new-city-input{
    width: 350px;
  }
  .city-info-details{
    width: 600px;
  }
  .weather-container{
    width: 700px;
  }
  .days{
    width: 150px;
  }
}
@media (min-width: 1001px) {
  .search-bar{
    width: 950px;
  }
  .new-city-input{
    width: 550px;
  }
  .city-info-details{
    width: 800px;
  }
  .weather-container{
    width: 900px;
  }
  .days{
    width: 200px;
  }
}

.app-details{
  display: flex;
  flex-direction: column;
  top:50px;
  right: 0;
  left: 0;
  align-items: center;

  margin-bottom: 50px;
}

.app-name{
  font-size: 128px;
  font-weight: bold;
  margin-bottom: 50px;
}

.app-description{
  font-size: 40px;
  font-style: italic;
  font-weight: 0;
}

.search-bar-container{
  display: flex;
  position: sticky;
  top: 10px;
  right: 0;
  left: 0;
  justify-content: center;
  z-index: 100;
}

.search-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(227, 224, 224, 0.2);
  border-radius: 50px;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.new-city-input{
  height: 30px;
  border-radius: 50px;
  border: none;
  padding: 5px;
  margin-right: 10px;
}

.search-city-button{
  height: 35px;
  width: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.current-day, .current-date{
  margin-left: 20px;
  font-size: 26px;
}

.city-main-info-container, .info-container{
  position: relative;
  margin-top: 100px;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.city-main-info{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
}
.weather-icon{
  width: 200px;
  height: 200px;
  margin: 0;
}
.city-name{
  font-size: 64px;
  margin-bottom: 10px;
}
.main-weather{
  font-size: 150px;
  margin-top: 0;
  align-items: center;
}
.main-info{
  font-size: 36px;
}

.info-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-container{
  background-color: rgba(65, 110, 175, 0.3);
  border-radius: 100px;
}

.days-info{
  padding: 50px;
  display: flex;
}
.days{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  background-color: rgba(65, 110, 175, 0.5);
  margin-right: 15px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 100px;
  height: 300px;
}
.days-temperature{
  font-size: 24px;
}

.city-info-details{
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-evenly;
}

.details{
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: rgba(170, 206, 240, 0.4);
  margin: 15px;
  border-radius: 30px;
  padding: 10px;
  align-items: center;
}
.icon{
  width: 60px;
  height: 60px;
  margin-left:5px;
}
.detail-name{
  font-size: 30px;
}
.detail-info{
  font-size: 24px;
}
